
@{
    ViewBag.Title = "calculoFinal";
}

<h2>calculoFinal</h2>

<h1>La suma es: @ViewBag.Suma</h1>
<h1>El promedio es: @ViewBag.Promedio</h1>

@if (ViewBag.Total == 0)
{

}
else
{
    <h1>Se repite:</h1>
    <ul>
        @foreach (var duplicado in ViewBag.Duplicados)
        {
            <li>@duplicado</li>
        }
    </ul>
}
