
@{
    ViewBag.Title = "carcarCajas";
}

<h2>carcarCajas</h2>
<form action="/Pruebas2/calculoFinal" method="post">
    <input type="hidden" name="Numero1" value=@ViewBag.Cajas />
    @for (int i = 0; i < ViewBag.Cajas; i++)
    {
        <label>Numero @i :</label>
        <input type="text" name="Num"@i value="" />
        <br />
    }
    <input type="submit" name="name" value="Calcular" />
</form>
