
@{
    ViewBag.Title = "TomarNumeros";
}

<h2>TomarNumeros</h2>
    <div class="container">
        <div class="row">
            <form action="/Pruebas2/carcarCajas" method="post">
                <label>Numero de cajas:</label>
                <input type="text" name="Numero1" value="" />
                <br />
                <input type="submit" name="name" value="Calcular" />
            </form>
        </div>
    </div>

